<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>e_card_00_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_00_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_00_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_01_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_01_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_01_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_02_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_02_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2254, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_02_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_03_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2898, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_03_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3220, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_03_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3542, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_04_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_04_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_04_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_05_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_05_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_05_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_06_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_06_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2254, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_06_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_07_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2898, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_07_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3220, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_07_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3542, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_08_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_08_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_08_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_09_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_09_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_09_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2254, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_10_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_11_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2898, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_11_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3220, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_11_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3542, 964}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_12_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_12_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_12_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_13_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_13_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_13_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_14_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_14_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2254, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_14_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_15_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2898, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_15_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3220, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_15_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3542, 1446}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_16_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_16_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_16_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_17_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_17_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_17_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_18_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_18_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2254, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_19_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2898, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_19_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3220, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_19_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3542, 1928}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_20_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_20_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_20_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_21_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_21_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_21_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_22_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1932, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_22_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2254, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_22_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2576, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_23_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2898, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_23_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3220, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_23_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3542, 2410}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_24_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2892}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_24_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 2892}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_24_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 2892}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_25_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 2892}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_25_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 2892}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_card_25_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 2892}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>E_Card</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>E_Card</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>