<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>e_im_00_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {198, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{198, 220}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {198, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_00_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 71}, {200, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{200, 100}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 0}, {200, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_00_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {184, 242}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{184, 242}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 0}, {184, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_01_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {200, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{200, 236}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 0}, {200, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_01_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 50}, {200, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{200, 144}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 0}, {200, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_01_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 1}, {164, 246}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{164, 246}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 0}, {164, 246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_02_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 32}, {200, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{200, 184}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 0}, {200, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_02_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 51}, {200, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{200, 140}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1360, 0}, {200, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_02_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {192, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{192, 186}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1562, 0}, {192, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_03_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {198, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{198, 230}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1756, 0}, {198, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_03_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1}, {152, 246}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{152, 246}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 248}, {152, 246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_03_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 43}, {200, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{200, 148}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 248}, {200, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_04_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 72}, {200, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{200, 112}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 248}, {200, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_04_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {196, 228}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{196, 228}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 248}, {196, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_04_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 47}, {200, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{200, 180}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 248}, {200, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_05_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {198, 240}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{198, 240}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{958, 248}, {198, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_05_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {178, 248}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{178, 248}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 248}, {178, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_05_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 44}, {194, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{194, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1338, 248}, {194, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_06_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {200, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{200, 236}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1534, 248}, {200, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_06_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {176, 250}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{176, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1736, 248}, {176, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_06_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 2}, {154, 248}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{154, 248}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 500}, {154, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_07_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {198, 188}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{198, 188}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 500}, {198, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_07_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 59}, {200, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{200, 146}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 500}, {200, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_07_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 37}, {200, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{200, 188}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 500}, {200, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_08_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {176, 244}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{176, 244}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 500}, {176, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_08_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 67}, {200, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{200, 102}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 500}, {200, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_08_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {196, 220}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{196, 220}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 500}, {196, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_09_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {168, 250}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{168, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1338, 500}, {168, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_09_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 17}, {200, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{200, 228}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1508, 500}, {200, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_09_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {180, 246}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{180, 246}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1710, 500}, {180, 246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_10_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 29}, {198, 206}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{198, 206}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 752}, {198, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {190, 244}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{190, 244}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 752}, {190, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_10_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 23}, {200, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{200, 194}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 752}, {200, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_11_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 752}, {200, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_11_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 29}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 752}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_11_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 2}, {130, 248}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{130, 248}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{998, 752}, {130, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_12_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {200, 214}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{200, 214}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1130, 752}, {200, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_12_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 18}, {198, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{198, 222}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1332, 752}, {198, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_12_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 25}, {198, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{198, 202}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1532, 752}, {198, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_13_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {196, 244}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{196, 244}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1732, 752}, {196, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_13_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1004}, {200, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_13_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 20}, {196, 220}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{196, 220}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 1004}, {196, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_14_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {196, 208}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{196, 208}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 1004}, {196, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_14_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 35}, {198, 202}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{198, 202}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 1004}, {198, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_14_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {180, 250}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{180, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 1004}, {180, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_15_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 34}, {200, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{200, 190}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1004}, {200, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_15_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 28}, {200, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{200, 210}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1182, 1004}, {200, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_15_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {176, 250}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{176, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1384, 1004}, {176, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_16_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {200, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{200, 236}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1562, 1004}, {200, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_16_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 50}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -25}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1764, 1004}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_16_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {200, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{200, 236}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1256}, {200, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_17_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {192, 248}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{192, 248}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 1256}, {192, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_17_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 41}, {200, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{200, 142}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 1256}, {200, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_17_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 25}, {198, 172}}</string>
			<key>spriteOffset</key>
			<string>{1, 14}</string>
			<key>spriteSize</key>
			<string>{198, 172}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 1256}, {198, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_18_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 36}, {196, 174}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{196, 174}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 1256}, {196, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_18_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 22}, {196, 214}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{196, 214}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 1256}, {196, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_18_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 35}, {200, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{200, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1194, 1256}, {200, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_19_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 14}, {192, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{192, 194}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1396, 1256}, {192, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_19_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 72}, {200, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{200, 130}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1590, 1256}, {200, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_19_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 26}, {198, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{198, 204}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1792, 1256}, {198, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_20_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {200, 244}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 244}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1506}, {200, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_20_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {150, 242}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 242}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 1506}, {150, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_20_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {192, 238}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{192, 238}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 1506}, {192, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_21_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {196, 236}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{196, 236}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 1506}, {196, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_21_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {170, 242}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{170, 242}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{746, 1506}, {170, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_21_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 250}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{196, 250}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 1506}, {196, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_22_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 2}, {124, 240}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{124, 240}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1116, 1506}, {124, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_22_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 26}, {190, 196}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{190, 196}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 1506}, {190, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_22_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {194, 228}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{194, 228}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1434, 1506}, {194, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_23_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {200, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{200, 170}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1630, 1506}, {200, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_23_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 55}, {196, 138}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{196, 138}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1832, 1506}, {196, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_23_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 35}, {200, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{200, 174}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1758}, {200, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_24_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {200, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{200, 236}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 1758}, {200, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_24_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 23}, {182, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{182, 192}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 1758}, {182, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_24_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {194, 230}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{194, 230}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1758}, {194, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_25_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {192, 238}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{192, 238}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 1758}, {192, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_25_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 76}, {200, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{200, 166}</string>
			<key>spriteSourceSize</key>
			<string>{200, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 1758}, {200, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e_im_25_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 42}, {198, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{198, 204}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1180, 1758}, {198, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>E_Image</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>E_Image</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>